import { buttonVariants, type ButtonVariants } from "./variants.ts";
import { cn } from "../../../lib/utils.ts";

export interface Input extends Marko.Input<"button">, ButtonVariants {}

<const/{ variant, size, class: className, content, ...rest }=input/>

<button
  data-slot="button"
  data-variant=(variant ?? "default")
  data-size=(size ?? "default")
  ...rest
  class=cn(buttonVariants({ variant, size }), className)
>
  <${content}/>
</button>
