import { badgeVariants, type BadgeVariants } from "./variants.ts";
import { cn } from "../../../lib/utils.ts";

export interface Input extends Marko.Input<"span">, BadgeVariants {}

<const/{ variant, class: className, content, ...rest }=input/>

<span
  data-slot="badge"
  data-variant=(variant ?? "default")
  ...rest
  class=cn(badgeVariants({ variant }), className)
>
  <${content}/>
</span>
