import { cn } from "../../../lib/utils.ts";
static const styles = {
  root: "text-muted-foreground text-sm",
} as const;

export interface Input extends Marko.Input<"div"> {}

<const/{ class: className, content, ...rest }=input/>

<div data-slot="card-description" class=cn(styles.root, className) ...rest>
  <${content}/>
</div>
