import { cn } from "../../../lib/utils.ts";
static const styles = {
  root: "text-base leading-normal font-medium group-data-[size=sm]/card:text-sm mu-font-heading",
} as const;

export interface Input extends Marko.Input<"div"> {}

<const/{ class: className, content, ...rest }=input/>

<div data-slot="card-title" class=cn(styles.root, className) ...rest>
  <${content}/>
</div>
